.center {
    text-align: center;
}

h1 {
    text-align: center;
}

.arrow {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.arrow span {
    display: block;
    width: 2vw;
    height: 2vw;
    border-bottom: 2px solid rgb(0, 0, 0);
    border-right: 2px solid rgb(0, 0, 0);
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

@keyframes animate {
    0% {
        transform: rotate(45deg) translate(-5px, -5px);
    }
    50% {
        transform: rotate(45deg) translate(5px, 5px);
    }
    100% {
        transform: rotate(45deg) translate(-5px, -5px);
    }
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}