.center {
    text-align: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(86, 153, 192);
    padding: 10px 30px;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.title-logo {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: rgb(110, 183, 224);
    border-radius: 10px;
    padding: 3px 30px;
}

.logo {
    height: 55px;
    width: auto;
}

h1 {
    font: 40px "Trebuchet MS";
    font-weight: bold;
    margin: 5px
}

.navbar {
    overflow: hidden;
    background-color: rgb(86, 153, 192);
    display: flex;
    gap: 20px;
}

.navbar a {
    font: 20px "Trebuchet MS";
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navbar a:hover {
    background-color: rgb(0, 124, 161);
    color: white;
    border-radius: 5px;
}

.navbar a.active {
    background-color: rgb(0, 72, 94);
    color: white;
    border-radius: 5px;
}

html {
    scroll-behavior: smooth;
    height: 3000px; /* ================== TEMPORARY ================== */
}

.arrow {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.arrow span {
    display: block;
    width: 2vw;
    height: 2vw;
    border-bottom: 2px solid rgb(0, 0, 0);
    border-right: 2px solid rgb(0, 0, 0);
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

@keyframes animate {
    0% {
        transform: rotate(45deg) translate(0, 0);
    }
    50% {
        transform: rotate(45deg) translate(5px, 5px);
    }
    100% {
        transform: rotate(45deg) translate(0, 0);
    }
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
    box-sizing: border-box
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.about {
    position: relative;
    width: 100%;
    display: inline-block;
}

.about img {
    width: 100%;
    display: block;
}

.overlay-text {
    font: 1.2rem "Fira Sans", sans-serif;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    font-size: 1.8em;
    border-radius: 5px;
    text-align: center;
}

figure {
    display: inline-block;
}

figcaption {
    text-align: center;
    font: 30px "Trebuchet MS";
    color: rgb(0, 66, 97);
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

.text {
    flex: 1;
    max-width: 55%;
}

.images {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
}

.images img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    margin-right: 100px;
}

h2 {
    font: 40px "Trebuchet MS";
    color: rgb(0, 66, 97);
    margin-left: 50px;
}

h3 {
    font: 30px "Trebuchet MS";
    color: rgb(0, 93, 155);
    margin-left: 55px;
}

p {
    font: 20px "Trebuchet MS";
    margin-left: 60px;
    color: rgb(59, 59, 59);
    max-width: 55%;
}

ul {
    font: 25px "Trebuchet MS";
    margin-left: 60px;
    padding-bottom: 30px;
}